{% extends "base.html" %}
{% load static %}

{% block title %}Classification Tasks{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <h1 class="title is-1">
            Classification Tasks
        </h1>
        {% if object_list %}
        {% for taskgroup in object_list %}
        <div class="card squishable-card {% if not forloop.last %} mb-4 {% endif %}">
          <div class="card-header">
            <p class="card-header-title is-centered">{{ taskgroup.name }} <span class="has-text-grey-light pl-2">[{{taskgroup.tasks.count}}]</span></p>
          </div>
          <div class="card-content has-background-light is-squished">
            <div class="box">
              Class Options:
              {% for class_option in taskgroup.table_class_options %}
              <span class="tag">
                {{ class_option }}
              </span>
              {% endfor %}
            </div>
            <!-- Classification Task list-->
            {% for task in taskgroup.tasks.all %}
            <div class="card {% if not forloop.last %} mb-4 {% endif %}">
              <div class="card-header {% if task.completed %} has-background-success-light {% endif %}">
                <p class="card-header-title is-centered">
                  <a href="{% url 'tasks:classification_task_annotate' task.pk %}">
                    {{ task.name }}
                  </a>
                </p>
              </div>
                {% if request.user.type == "ADMIN" and task.completed %}
                <div class="card-content">
                  <p>completed by {{ task.completed_by.username }} at {{ task.completed_at }}</p>
                </div>
                {% endif %}
              {% if request.user.type == "ADMIN" %}
              <footer class="card-footer">
                <a href="{% url 'tasks:classification_task_delete' task.pk%}" class="card-footer-item">Delete</a>
              </footer>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% if request.user.type == "ADMIN" %}
          <footer class="card-footer">
            <a href="{% url 'tasks:classification_group_edit' taskgroup.pk %}" class="card-footer-item">Edit</a>
            <a href="{% url 'tasks:classification_group_delete' taskgroup.pk %}" class="card-footer-item">Delete</a>
          </footer>
          {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p class="subtitle is-3">There are no classification tasks</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

    <script>
      squishables = document.getElementsByClassName("squishable-card")
      Array.prototype.forEach.call(squishables, function(el, i){
        el.querySelector(".card-header").addEventListener('click', function () {
          console.log(this);
          if (this.parentElement.querySelector(".card-content").classList.contains("is-squished")) {
            this.parentElement.querySelector(".card-content").classList.remove("is-squished");
          } else {
            this.parentElement.querySelector(".card-content").classList.add("is-squished");
          }
        }, false);
      });
    </script>
{% endblock content %}
